<div class="header-top"></div>
<div class="header text-center">
    <img class="logo" src='../assets/images/menhir_banner.png' alt="Logo van ESBC Menhir"/>
  <span class="clubname">
    Basketballvereniging E.S.B.C. Menhir Sneek
  </span>
</div>
<div class="header-bottom"></div>
<div class="container">
    <div class="row">
      <div class="col-sm">
        <app-menu></app-menu>
      </div>
    </div>
    <div class="row">
    <div class="col-sm">
      One of three columns
    </div>
    <div class="col-sm">
      One of three columns
    </div>
    <div class="col-sm">
      One of three columns
    </div>
  </div>
</div>

<app-articles></app-articles>